
@{
    ViewData["Title"] = "ListNotes";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<LessonStudent>

<h1>List Notes</h1>


<table class="table table-dark col-10  mx-auto">
    <tr>
        <th>Lesson ID</th>
        <th>Lesson Name</th>
        <th>Student Name</th>
        <th>Student LastName</th>
        <th>Exam 1</th>
        <th>Exam 2</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.LessonID</th>
            <td>@item.Lesson.Name</td>
            <td>@item.Student.Name</td>
            <td>@item.Student.LastName</td>
            <td>@item.Exam1</td>
            <td>@item.Exam2</td>
        </tr>
    }

</table>
